src/main/java/may14/employee.dtd

<!ELEMENT hospital (employee*)>
        <!ELEMENT employee (name,job,department,workExperience)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT job (#PCDATA)>
        <!ELEMENT department (#PCDATA)>
        <!ELEMENT workExperience (#PCDATA)>
        <!ATTLIST employee id CDATA #REQUIRED>

